.section {
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px -5px rgba(107, 107, 107, 1);
}

.section__title{
    margin: 0;
    padding: 20px;
}

.section__header {
    margin: 0 auto;
    border-bottom: rgb(226, 226, 226) solid 2px;
    display: grid;
    grid-template-columns: 1fr 300px;
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}

.section__title {
    margin: 0;
    padding: 20px;
}